@model Article

<div class="row mt-2">

    <div class="col-md-9">
        <hr />

        <!-- Irformation Header -->
        <div class="row mt-2">

            <!-- Writer Profile Pic-->
            <div class="col-md-1 px-0 ms-2 p-0">
                <img class="rounded-circle p-0" src="@Model.AppUser.Image" style="height:75px;width:65px" />
            </div>

            <!-- Information Detail -->
            <div class="col-md-10 ">
                <!-- Writer FullName -->
                <div class="">
                    <a class="text-dark fw-bold" asp-controller="User" asp-action="Detail" asp-route-id="@Model.AppUser.ID">@Model.AppUser.FullName</a>
                </div>

                <!-- CreateDate - Reading Time -->
                <div class="">
                    <label class="text-muted fw-light">@Model.CreateDate.ToShortDateString() / @Model.ReadCounter times read / @Model.ReadingTime min read</label>
                </div>

                <!-- Category  -->
                <div class="mt-2">
                    @foreach (var item in Model.ArticleCategories)
                    {
                        <a asp-action="Filter" asp-controller="Article" asp-route-id="@item.CategoryID" class="btn btn-secondary btn-sm fw-info px-2 py-1">@item.Category.Name</a>
                    }

                </div>

            </div>

        </div>

        <!--Article -->
        <div>
            <div class="row">
                <!-- Article Title - Content -->
                <div class="col-md-12 pe-2">

                    <h5 class="mt-2 fw-bold"><strong>@Model.Title</strong></h5>

                    <div class="d-flex justify-content-center mt-3">

                        <img class="mt-3" src="@Model.Image" style="height:400px;width:800px; object-fit:fill" />

                    </div>

                    <p class="mb-1 mt-5">
                        @Model.Content
                    </p>

                </div>

            </div>
        </div>
        <!-- Like Comment -->
        <div>

            <!-- Like -->
            <div class="mt-3">

                @if ((Model.Likes as IEnumerable<Like>).Any(a => a.AppUserID == @ViewBag.ActiveUserID))
                {
                    <a asp-action="Unlike" asp-controller="Article" asp-route-id="@Model.ID" class="">
                        <i class="fa fa-heart me-1" aria-hidden="true" style="color:red"></i>
                        <label>@Model.Likes.Count()</label>
                    </a>
                }
                else
                {
                    <a asp-action="Like" asp-controller="Article" asp-route-id="@Model.ID" class="">
                        <i class="fa fa-heart-o me-1" aria-hidden="true" style="color:red"></i>
                        <label>@Model.Likes.Count()</label>
                    </a>
                }


            </div>

            <!-- Comments -->

            <div class="mt-4">
                <!-- Write Comment -->
                <!-- ModelState is not Valid -->
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        <p><strong>@TempData["Message"]</strong></p>
                    </div>
                }

                <!--Comment List-->
                @foreach (var item in @Model.Comments.Where(a=>a.Statu!=BlogProject.Models.Enums.Statu.Passive && a.AdminCheck==BlogProject.Models.Enums.AdminCheck.Approved).OrderByDescending(a => a.CreateDate))
                {

                    <hr />

                    <div class="row mt-2">
                        <!-- Comment Writer Image -->
                        <div class="col-md-1 px-0 ms-2 p-0">
                            <img class="rounded-circle p-0" src="@item.AppUser.Image" style="height:50px;width:50px" />
                        </div>
                        <!-- Information Detail -->
                        <div class="col-md-10 ">
                            <!-- Comment Writer FullName -->

                            <div class="">
                                <a class="text-dark fw-bold" asp-controller="AppUser" asp-action="Detail" asp-route-id="@item.AppUserID">@item.AppUser.FullName</a>
                            </div>

                            <!-- CreateDate -->
                            <div class="">
                                <label class="text-muted fw-light">@item.CreateDate.ToShortDateString() </label>
                            </div>

                        </div>
                    </div>

                    <!-- Comment Text -->
                    <p class="mt-2">@item.Text</p>

                    }
                

            </div>

        </div>
        <hr />

    </div>

    <!-- Followed Category and Information Of Writer -->
    <div class="col-md-2 ms-5" style="border-left: medium solid grey">
        <div class="row sticky-top ms-3">
            <div class="mt-4">
                <div>
                    <img class="rounded-circle" src="@Model.AppUser.Image" style="height:100px;width:100px" />
                    
                </div>

                <h6 class="mt-4 fw-bold">@Model.AppUser.FullName</h6>
           
                <p class="mt-4 p-0 fw-bold" style="border-bottom: thin solid grey">Following Categories</p>
                @foreach(var item in Model.AppUser.UserFollowedCategories)
                {
                    
                    <div class="mb-2">
                        <a class="mb-2 text-dark " asp-controller="Article" asp-action="Filter" asp-route-id="@item.CategoryID">@item.Category.Name</a>
                    </div>
                }

            </div>

        </div>

    </div>
</div>